[submodule "CORP"]
	path = CORP
	url = https://github.com/MonoliskSoftware/CORP.git
	branch = module
[submodule "CONTACT-ONE-MAP"]
	path = CONTACT-ONE-MAP
	url = https://github.com/MonoliskSoftware/CONTACT-ONE-MAP
